<h2>Create Academic Year</h2>
    <form action="" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" maxlength="255"><br>
        
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate" required><br>
        
        <label for="closureDate">Closure Date:</label><br>
        <input type="date" id="closureDate" name="closureDate" required><br>
        
        <label for="finalClosureDate">Final Closure Date:</label><br>
        <input type="date" id="finalClosureDate" name="finalClosureDate" required><br><br>
        
        <input type="submit" value="Create Academic Year">
    </form>