<h2>Create Faculty</h2>
<form action="/admin/faculty/create" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" maxlength="255" required><br>
    
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
    
    <input type="submit" value="Create Faculty">
</form>
