<h2>Edit Faculty</h2>
<form action="../{{faculty._id}}/update" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" maxlength="255" value="{{faculty.name}}"><br>
    
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" required>{{faculty.description}}</textarea><br><br>
    
    <input type="submit" value="Update Faculty">
</form>
