<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Edit Faculty</h2>
                </div>
                <div class="card-body">
                    <form action="../{{faculty._id}}/update" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255"
                                value="{{faculty.name}}">
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="4"
                                required>{{faculty.description}}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Update Faculty</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>