<div class="container mt-4">
    <h1 class="text-center mb-4">Manage Faculty</h1>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body" id="addFacultyForm" style="display: none;">
                    <h3 class="text-center mb-4">Add Faculty</h3>
                    <form id="facultyForm" action="/admin/faculty/create" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="2"
                                required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
                <div class="card-body text-center">
                    <button onclick="toggleAddFacultyForm()" class="btn btn-primary">Show/Hide Add Faculty Form</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2> </h2>
            <!-- Table for viewing all academic years -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each faculties}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td>
                                <a href="./{{this._id}}/edit" class="btn btn-sm btn-primary mr-2">Edit</a>
                                <form action="./{{this._id}}/delete" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    function toggleAddFacultyForm() {
        var form = document.getElementById("addFacultyForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>